@font-face {
  font-family: ora;
  src: url("orange juice 2.0.ttf");
}


* {
  padding: 0.1%;
  margin: 0.5%;
}

.us{
  float: left;
}

.stat{
  float: right;
  font-size: 3vmax;
  color: #585858;

}

.offm{
  text-align: justify;
  font-size: 2vmax; 
}


.con {
  font-family: ora;
  font-size:100px;
}

.chatWindow {
  min-height: 15vmax;
  height: 15vmax;
  border: 3px solid black;
  overflow-y: scroll;
  font-size: large;
  cursor:pointer;
}
ul {
  list-style-type: none;
}

.reciever {
  text-align: left !important;
  background: wheat;
  border-radius: 50px;
  padding-left: 3%;
  padding-right: 3%;
  list-style-type: none;
  margin: 1%;
  -moz-box-shadow: inset 0 0 15px #000000;
  -webkit-box-shadow: inset 0 0 15px #000000;
  box-shadow: inset 0 0 15px #000000;
}
.sender {
  text-align: right !important;
  background: green;
  border-radius: 50px;
  padding-left: 3%;
  padding-right: 3%;
  margin: 1%;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}


textarea {
  padding: 0.5%;
  height: 30px;
  width: 50%;
  font-size:20px;
  border-radius:50px;
  border: 5px solid lightgreen;
}

textarea:focus {
  padding: 0.5%;
  height: 30px;
  width: 70%;
  font-size:20px;
  border-radius:50px;
  transition: 3s;
  border: 5px solid green;
}

button{
  background:transparent;
  outline:none;
  border:none;
  cursor:pointer;
  font-size:35px;
  vertical-align: bottom; 
}

button:hover{
  background:transparent;
  outline:none;
  border:none;
  cursor:pointer;
  font-size:35px;
  vertical-align: bottom; 
  color:#778899;
  transition:3s;
}
