@font-face {
  font-family: krinkes;
  src: url("KrinkesDecorPERSONAL.ttf");
}

@font-face {
  font-family: ora;
  src: url("orange juice 2.0.ttf");
}

@font-face {
  font-family: ward;
  src: url("Wardness.otf");
}

* {
  padding: 0%;
  margin: 0%;
}

body {
  background: #800080; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc0cb,
    #800080
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc0cb,
    #800080
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron {
  background: transparent !important;
}
span {
  background-position: center;
  transition: background 0.8s;
}

span:hover {
  background: darkgray radial-gradient(circle, transparent 1%, gray 1%)
    center/15000%;
}
span:active {
  background-color: lightgray;
  background-size: 100%;
  transition: background 0s;
}

.con {
  font-family: ora;
  font-size: 15vmin;
  text-align: center;
}

h1 {
  font-family: krinkes !important;
  font-size: 50px !important;
}

h2 {
  font-family: ward !important;
  font-size: 40px !important;
}
.chatWindow {
  min-height: 15vmax;
  height: 15vmax;
  border: 3px solid black;
  overflow-y: scroll;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
  font-size: large;
}
ul {
  list-style-type: none;
}

.reciever {
  text-align: left !important;
  background: wheat;
  border-radius: 50px;
  padding-left: 3%;
  padding-right: 3%;
  list-style-type: none;
  margin: 1%;
  -moz-box-shadow: inset 0 0 15px #000000;
  -webkit-box-shadow: inset 0 0 15px #000000;
  box-shadow: inset 0 0 15px #000000;
}
.sender {
  text-align: right !important;
  background: green;
  border-radius: 50px;
  padding-left: 3%;
  padding-right: 3%;
  margin: 1%;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}
.users {
  font-family: "Times New Roman", Times, serif !important;
  font-size: x-large !important;
}

textarea {
  padding: 0.5%;
  height: auto;
  width: 100%;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
textarea:focus {
  padding: 0.5%;
  height: auto;
  width: 100%;
  border: 2px solid gray;
  background: #d9a7c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fffcdc,
    #d9a7c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fffcdc,
    #d9a7c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input {
  font-size: x-large !important;
  font-family: ward !important;
  height: auto;
  width: 100%;
  background: #005aa7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fffde4,
    #005aa7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fffde4,
    #005aa7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 3px solid black;
  border-radius: 25%;
}

input:hover {
  font-size: x-large !important;
  font-family: ward !important;
  height: auto;
  width: 100%;
  background: #1c92d2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f2fcfe,
    #1c92d2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f2fcfe,
    #1c92d2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 3px solid black;
  border-radius: 50px;
}

button {
  font-family: ward !important;
  font-size: xx-large !important;
  height: auto;
  width: 100%;
  background: #23074d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #cc5333,
    #23074d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #cc5333,
    #23074d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 3px solid black;
  border-radius: 50px;
}

button:hover {
  font-size: xx-large !important;
  font-family: ward !important;
  height: auto;
  width: 100%;
  background: #fffbd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b20a2c,
    #fffbd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b20a2c,
    #fffbd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 3px solid black;
  border-radius: 25%;
}

.dam {
  background-position: center;
  transition: background 0.8s;
}

.dam:hover {
  background: darkgray radial-gradient(circle, transparent 1%, gray 1%)
    center/15000%;
}
.dam:active {
  background-color: lightgray;
  background-size: 100%;
  transition: background 0s;
}


.setti{
  float: right;
}

.menu {
  visibility: hidden;
}

figure:active .menu,
figure:focus .menu {
  visibility: visible;
}

.us{
  float: left;
}

.stat{
  float: right;
  font-size: 3vmax;
  color: #585858;

}

.offm{
  text-align: justify;
  font-size: 2vmax; 
}